.bg-mynav {
  background-color: #E2A228;
}

body {
  font-size: 1.25rem;
  background-color: #f6f8fa;
}

td {
  line-height: 3rem;
}

.swal2-input{
  width: 350px !important;
}

.swal2-input[type=number]{
  max-width: none !important;
}

.navbar-back-btn{
  width: 30px;
  height: 30px;
  fill: #fff;
}