.bg-mynav {
  background-color: #E2A228;
}

.navbar-brand {
  margin-right: auto;
  margin-left: auto;
  font-size: xx-large;
}

body {
  font-size: 1.25rem;
  background-color: #272727;
}

.swal2-container::-webkit-scrollbar {
  width: 7px;
}

.swal2-container::-webkit-scrollbar-thumb {
  background-color: #e2a1286b;
  border-radius: 20px;
}

.btn-secondary {
  width: 100px;
}

.table {
  border-collapse: unset;
}

td {
  color: #fff;
  background-color: #272727;
  line-height: 3rem;
}

tr {
  color: #fff;
  background-color: #272727;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-radius: 10px;
}

.swal2-input {
  width: 350px !important;
}

.swal2-input[type=number] {
  max-width: none !important;
}

.show-input {
  width: 80% !important;
  border-radius: 30px !important;
}

.show-lbl {
  width: 100% !important;
  text-align: end;
}

.popup-show {
  width: fit-content !important;
}

.action-column {
  text-align: center;
  width: 160px;
  right: 0;
}

.navbar-back-btn {
  width: 30px;
  height: 30px;
  fill: #fff;
}

/* Dropdown Button */
#myInput {
  box-sizing: border-box;
  background-image: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-search-256.png');
  background-position: 14px 12px;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-radius: 10px;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropbtn {
  margin: 15px 20px 5px auto;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #E2A228;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  border-radius: 10px;
  z-index: 1;
  left: auto;
  right: 9.9%;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f8cb76;
  border-radius: 10px;
}