.hexagon {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 300px;
  height: 500px;
  background-image: linear-gradient(90deg, #E2A228, #815605);
  border-radius: 15px;
  transition: transform 400ms ease;
}

.email-input,
.password-input {
  width: 90%;
  height: 50px;
  margin-bottom: 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: unset;
  color: #fff;
  font-size: 12px;
}

.email-input,
.password-input {
  padding: 10px;
}

.email-input:focus,
.password-input:focus {
  box-shadow: 0px 0px 10px 0.2px #fff;
  border: 2px solid #fff;
  outline: none;
  padding-left: 10px;
}

.email-input::placeholder,
.password-input::placeholder {
  color: #fff;
}

.login-btn {
  width: 90%;
  height: 50px;
  border: none;
  border-radius: 10px;
  margin-bottom: -15px;
  color: #976302;
}

.forget-password-btn{
  width: 100px;
  border: none;
  background-color: transparent;
  font-size: 10px;
  color: #fff;
  margin-bottom: 20px;
}

.hexagon:before,
.hexagon:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: inherit;
  height: inherit;
  background-image: inherit;
  border-radius: inherit;
  z-index: -10;
}

.hexagon:before {
  transform: rotate(-60deg);
}

.hexagon:after {
  transform: rotate(60deg);
}

body {
  margin: 0;
  background-color: #272727;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}